/*
!.gitignore
!.vimrc
!.bashrc
!.vim/
!.emacs.d
!.emacs
!README.md
!install.sh
!.bash*
.*.swp
.*.swo
.*~
.emacs.d/auto-save-list
!.emacs.d/themes
!.emacs.d/conf
!.emacs.d/.emacs
.bash_history
.vim/.netrwhist
