/*
.*.swp
.*.swo
.*~
*~
emacs/auto-save-list
emacs/elpa
emacs/*elpa*
emacs/projectile-bookmarks.eld
vim/.netrwhist
.DS_Store

# DO NOT IGNORE
!.gitignore
!README.md
!emacs
!emacs/themes
!emacs/conf
!emacs/.emacs
!vim
!bash
!vagrant
!install.sh
